header img{
    width: 300px;
}

.first-section .lady-pic img{
    width: 550px;
}
.all-jacket img{
    height: 60%;
}
.last-card {
    border-radius: 20px;
    margin-top: 20px;
}
.woman-jacket{
    margin-top: 20px;
}
.card-img-top{
    background-color: lightgray;
    padding: 50px;
    border-radius: 30px;
    
    
}
.btn{
    background-color:rgb(112, 180, 10);
}
header, .first-section{
    background-color: #fcf4f4;
    border-radius: 15px;
}
@media (max-width: 668px) {
    .media{
        text-align: center;
    }
}